{% extends 'base.html' %}
{% block podbor %}
{% endblock %}
{% block content %}
<section class="news posr">
		<div class="container">
			<h1 class="news__h1">материалы и обучение</h1>
			<div class="line news__line"></div>
			<div class="row">
				<div class="col-12">
					<h2 class="article-h2">{{material.title}}</h2>
				</div>
				<div class="col-md-4">
					<img src="{{material.img.url}}" alt="Dictionary" class="article-img">
				</div>
				<div class="col-md-8">
				        {{material.body}}
						<div class="article-buttons">
						<label for="popupCheckboxOne" class="popup-shower btn btn-secondary custom-sec">Посмотреть</label>
						<a class="btn btn-secondary custom-sec" href="{{material.file.url}}">Скачать</a>
					</div>
				</div>
				<div class="popup-wrapper">
  <input type="checkbox" class="popup-checkbox" id="popupCheckboxOne">
  <div class="popup">
    <div class="popup-content">
      <label for="popupCheckboxOne" class="popup-closer">&#215;</label>
       {{material.body}}
    </div>
  </div>
</div>

			</div>
		</div>
	</section>
{% endblock %}