{% extends 'base.html' %}
{% block podbor %}
{% endblock %}
{% block content %}
<section class="news posr">
		<div class="container">
			<h1 class="news__h1">Тесты онлайн</h1>
			<div class="line news__line"></div>
			<div class="row">
				<div class="col-md-4 border">
					<h2 class="text-center random_mats__h2">Случайные материалы</h2>
					<aside class="random_mats">
						<h4 class="text-center"><a href="" class="">Children's dictionary</a></h4>
						<p class="text-center"><a href=""><img src="images/banners/dict1.png" alt="" class="random_mats__img"></a></p>
					</aside>
					<aside class="random_mats">
						<h4 class="text-center"><a href="" class="">Children's dictionary</a></h4>
						<p class="text-center"><a href=""><img src="images/banners/dict1.png" alt="" class="random_mats__img"></a></p>
					</aside>
				</div>
				<div class="col-md-8">
					<div class="test_main">
						<h1 class="test_main__h1">Тест "Pre-Intermediate"</h1>
						{%for item in question_list%}
						<form action="">
							<ol class="test_main__list">
								<li>{{item.title}}
								{%for i in item.answer_set.all%}
									<div class="form-check">
									  <label class="form-check-label">
									    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked="">
									    {{i.title}}
									  </label>
									</div>
								{%endfor%}
								</li>
							</ol>
							<button type="submit" class="btn btn-black">Отправить</button>
						</form>
						{%endfor%}
					</div>
				</div>
			</div>
		</div>
{% endblock %}