{% extends 'base.html' %}
{% block podbor %}
{% endblock %}
{% block content %}
<section class="news posr">
		<div class="container">
			<h1 class="news__h1">материалы и обучение</h1>
			<div class="line news__line"></div>
			<div class="row">
				<div class="col-12">
					<h2 class="article-h2">{{material.title}}</h2>
				</div>
				<div class="col-md-4">
					<img src="{{material.img.url}}" alt="Dictionary" class="article-img">
				</div>
				<div class="col-md-8">
				        {{material.body}}
						<div class="article-buttons">
						<a class="btn btn-secondary custom-sec" href="#win1">Посмотреть</a>
    					{% if material.on_off or material.exclusive %}
						<a class="btn btn-secondary custom-sec" href="#">Купить</a>
						{% else %}
						<a class="btn btn-secondary custom-sec" href="{{material.file.url}}" download>Скачать</a>
						{% endif %}
					</div>
				</div>
		
                <!-- Модальное окно №1 -->
                <a href="#x" class="overlay" id="win1"></a>
                <div class="popup">
                    {{material.body}}
                    <a class="close"title="Закрыть" href="#close"></a>
                </div>
			</div>
		</div>
	</section>
{% endblock %}