{% extends 'base.html' %}
{% block podbor %}
{% endblock %}
{% block content %}
<section class="news posr">
		<div class="container">
			<h1 class="news__h1">Тесты онлайн</h1>
			<div class="line news__line"></div>
			<div class="row">
    		    {%for item in object_list%}
				<div class="col-md-4">
					<div class="test-block">
						<h3 class="test-block__header">{{item.title}}</h3>
						<span class="test-block__start"><a href="{%url 'onlinetest:test_detail' pk=item.id%}">начать тест</a></span>
					</div>
				</div>
				{%endfor%}
			</div>
		</div>
	</section>
{% endblock %}